body{
    background-color: rgb(190, 173, 255);
}
.container{
    background-color: rgb(159, 191, 251);
    margin-top: 25vh;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10%;
    box-shadow: 0 8px 20px;
    border-color: blueviolet;
    text-align: center;
}

.quote-box{
    box-shadow: 0 5px 10px;
    border-left:7px solid blue;
    padding: 5px;
    background-color:rgb(235, 210, 231);
}